/* figure {
    text-align: left;
  } */

  .img-art {
    width: 230px;
    margin: auto;
		display: block;
    padding: 2%;
  }

  .titulo-img {
    font-size: 1rem;
    font-style: bold;
    text-align: center;
  }

   @media (min-width: 576px) { 
   .img-art {
      width: 450px;
    }
    figure {
      text-align: center;
    }
  }